.Rproj.user
.Rhistory
.RData
.Ruserdata
slides01w.qmd
432-slides-2025.Rproj
slides02w.qmd
slides03w.qmd
slides04w.qmd
slides05w.qmd
slides05_notes.qmd
old_slides05.qmd
slides06w.qmd
slides07w.qmd
slides08w.qmd
slides10w.qmd
slides12w.qmd
slides13w.qmd
slides14w.qmd
slides15w.qmd
slides18w.qmd
slides17w.qmd
