.Rproj.user
.Rhistory
.RData
.Ruserdata
432-slides-2025.Rproj
slides01w.qmd
slides02w.qmd
slides03w.qmd
slides04w.qmd
slides05w.qmd
slides06w.qmd
slides07w.qmd
slides08w.qmd
slides09w.qmd
slides10w.qmd
slides11w.qmd
slides12w.qmd
slides13w.qmd
slides14w.qmd
slides15w.qmd
slides16w.qmd
slides17w.qmd
slides18w.qmd
slides19w.qmd
slides20w.qmd
slides21w.qmd
slides22w.qmd
slides23w.qmd
slides24w.qmd
slides25w.qmd
slides26w.qmd
slides27w.qmd
